<h1>Create actu</h1>

<form action="/actus/create" method="post">
  <div class="form-group">
    <label for="title">Titre*</label>
    <input class="form-control" type="text" id="title" name="title" placeholder="Titre du post" required>
  </div>

<!--
  <div class="form-group">
    <label for="author">Auteur*</label>
    <input class="form-control" type="text" id="author" name="author" placeholder="Auteur du post" required>
  </div>
-->

<!-- Selectionner un auteur depuis une liste predefinie depuis la BDD des contacts -->
  <div class="form-group">
    <label for="author">Auteur*</label>
    <select class="form-control" id="author" name="author" required>
      {{#list contacts}}
      <option value="{{firstName}} {{lastName}}">{{firstName}} {{lastName}}</option>
      {{/list}}
    </select>
  </div>

  <div class="form-group">
    <label for="body">Corps de l'article</label>
    <input class="form-control" type="text" id="body" name="body" placeholder="Corps du post" required>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">
      Create
    </button>
  </div>
</form>
