<h1>Informations sur le master</h1>

<div>
	<a href="http://www.institutimagine.org/fr/" target="_blank"><img src="http://www.carenews.com/system/article/90cb10f520728e38be93fd48efdbb8f27aaf3e5e.jpg?1461241945" style="float: center; height: 7em; margin-right: 1%; margin-bottom: 0.5em;" ></a>
	<a href="http://www.hec.fr" target="_blank"><img src="http://blog.goulvestre.com/wp-content/uploads/2012/10/logo-hec-paris.jpg" style="float: center; height: 7em; margin-right: 1%; margin-bottom: 0.5em;" ></a>
	<a href="https://www.polytechnique.edu" target="_blank"><img src="http://enseignementsup.blog.lemonde.fr/files/2013/12/logo-X.jpg" style="float: center; height: 7em; margin-right: 1%; margin-bottom: 0.5em;" ></a>
	<a href="https://www.univ-paris5.fr" target="_blank"><img src="http://www.scfc.parisdescartes.fr/extension/site_descartes/design/site_descartes/images/logos/logo_DESCARTES.jpg" style="float: center; height: 7em; height:100px; margin-bottom: 0.5em;" ></a>
</div>

<div align="justify">
	<p>L’École polytechnique, HEC Paris, l’Institut Imagine et l’Université Paris Descartes se sont associés en créant un programme diplômant de formation et d’accélération dans les domaines des biotechnologies, des technologies médicales et de l’e-santé.</p>

	<p>De profils scientifique, ingénieur ou commercial, les étudiants travaillent sur des projets réels pouvant donner lieu à la création d’entreprises, en totale immersion dans l’écosystème de l’innovation biomédicale. Organisés en équipes interdisciplinaires, ils auront un an pour créer et développer une start-up à partir de découvertes prometteuses sélectionnées par les institutions partenaires.</p>

	<p>La formation donne lieu à un double-diplôme des établissements fondateurs (M2 délivré par l’Université Paris Descartes, MSc délivré par l’Ecole polytechnique, HEC Paris et l’Université Paris Descartes*en partenariat avec Imagine). Le programme pédagogique comprend d’une part des enseignements nécessaires à la création d’entreprises technologiques innovantes et d’autre part des enseignements destinés à développer la connaissance de l’écosystème de l’innovation et des enjeux technologiques et économiques des domaines des biotechnologies, des technologies médicales et de l’e-santé. Un voyage d’étude, aux Etats-Unis pour la première année du programme, est également prévu dans cette perspective.</p>

	<p>C’est au Pr Olivier Hermine, professeur à l'université Paris Descartes, directeur d’un laboratoire de l’Institut Imagine, chef du service d’hématologie de l’Hôpital Necker-Enfants malades et bioentrepreneur, que la direction du programme a été confiée.</p>

	<p><strong>Pour le Pr Olivier Hermine, <em>«les bioentrepreneurs doivent pouvoir évoluer dans un environnement complexe à la croisée de diverses cultures et considérer leurs projets sous l’angle scientifique et clinique mais aussi en maitrise du modèle économique, de la réglementation et de l’accès au marché. Ils doivent apprendre à apporter en permanence un regard critique sur leurs projets à l’aune des approches concurrentes. Ce programme leur donnera les clés nécessaires et leur permettra l’accès aux meilleurs réseaux et expertises leur permettant d’accélérer le développement de leurs projets ».</em></strong></p>

	<p>De nombreux experts, entrepreneurs, chercheurs et médecins accompagneront les étudiants dans la réalisation de ces projets à fort potentiel. Grâce au soutien de LBO France, le meilleur projet se verra décerner un prix d’un montant de 100 000 euros pour en poursuivre le développement à l’issue du programme.</p>

	<p>Ainsi, en accédant à ce programme, les étudiants auront la formidable opportunité de participer à la création de start-ups à fort potentiel.</p>

	<p>Le programme bénéficie du soutien de la Fondation Bettencourt Schueller et de LBO France.</p>
</div>	

<p>Retrouvez <a href=http://institutimagine.org/images/3Volets-Masters-Imagine-A4-04-DEF.pdf target="_blank">ici</a> la plaquette du master</p>